body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    font-family: sans-serif;
}

svg {
    background-color: #7AF;
}

#gui {
    width: 200px;
    height: 400px;
    background-color: #BBB;
}
