* {
    box-sizing: border-box;
}



body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    font-family: sans-serif;
}

svg {
    background-color: #7AF;
}

#gui {
    z-index: 1;
    position: absolute;
    right:   10px;
    top:     10px;
    width:  200px;
    opacity: 0.8;
}

#entities {
    display: block;
    width: 100%;
    overflow-y: auto;
    font-size: 11px;
    font-family: sans-serif;
}

#gui .toolbar {
    position: relative;
    font-size: 0;
}

#gui .toolbar button {
    position: relative;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    border-width: 2px;
    border-style: solid;
    background-color:    #BBB;
    border-top-color:    #FFF;
    border-right-color:  #777;
    border-bottom-color: #777;
    border-left-color:   #FFF;
    padding: 2px;
}


#gui .toolbar button:hover {
    background-color:    #777;
    border-top-color:    #777;
    border-right-color:  #FFF;
    border-bottom-color: #FFF;
    border-left-color:   #777;
}

#gui .toolbar button.selected {
    background-color: red;
}


#gui > .section {
    border-width: 2px;
    border-style: solid;
    border-top-color:    #FFF;
    border-right-color:  #777;
    border-bottom-color: #777;
    border-left-color:   #FFF;
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
    background-color: #BBB;
    margin-bottom: 4px;
}

#gui > .section > label {
    display: block;
    padding: 2px 2px;
    background-color: blue;
    color: #FFF;
}

#gui p {
    position: relative;
    margin: 0;
}

#gui p > label {
    font-weight: bold;
    font-size: 11px;
    color: #333;
}

#gui p > input,
#gui p > select {
    background-color: #FFF;
    font-size: 11px;
    font-family: sans-serif;
    position: absolute;
    right: 0;
    top:   0;
    width: 70%;
    padding: 0;
    margin:  0;
}



.shape-circle #p-dims {
    display: none;
}

.shape-rect #p-radius {
    display: none;
}
